In [2]:
!pip install xlrd

Looking in indexes: http://mirrors.aliyun.com/pypi/simple/
Collecting xlrd
  Downloading http://mirrors.aliyun.com/pypi/packages/a6/0c/c2a72d51fe56e08a08acc85d13013558a2d793028ae7385448a6ccdfae64/xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ------------ --------------------------- 30.7/96.5 kB ? eta -:--:--
     ---------------------------------------- 96.5/96.5 kB 1.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [3]:
import pandas as pd
df = pd.read_excel("feeding.xlsx")
df.head()

           投喂记录统计表.xls                  投喂单号  ...  换算率  负责人
0  202301月份投喂记录统计表.xls  成鱼生产一部2023-01-3104    ...  1.0  刘浩锋
1  202301月份投喂记录统计表.xls  成鱼生产一部2023-01-3104    ...  1.0  刘浩锋
2  202301月份投喂记录统计表.xls  成鱼生产一部2023-01-3104    ...  1.0  刘浩锋
3  202301月份投喂记录统计表.xls  成鱼生产一部2023-01-3104    ...  1.0  刘浩锋
4  202301月份投喂记录统计表.xls  成鱼生产一部2023-01-3104    ...  1.0  刘浩锋

[5 rows x 15 columns]

In [4]:
df2 = pd.read_excel("Pondstock.xlsx")
df2.head()

         月末存塘量统计表.xls    区域名称   池塘编号  ...  均规格（斤/尾）  数量（尾）                 结算年月
0  202301月末存塘量统计表.xls   大鲩生产部     A1  ...  0.730000  13436  2023-01-31 23:59:59
1  202301月末存塘量统计表.xls  成鱼生产二部  2224A  ...  0.140000    500  2023-01-31 23:59:59
2  202301月末存塘量统计表.xls  成鱼生产二部  2224A  ...  3.234935  10761  2023-01-31 23:59:59
3  202301月末存塘量统计表.xls  成鱼生产二部  2224A  ...  3.000000    825  2023-01-31 23:59:59
4  202301月末存塘量统计表.xls  成鱼生产二部  2224A  ...  0.800000   5668  2023-01-31 23:59:59

[5 rows x 8 columns]

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18770 entries, 0 to 18769
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   月末存塘量统计表.xls  18770 non-null  object
 1   区域名称          18770 non-null  object
 2   池塘编号          18770 non-null  object
 3   品种名称          18770 non-null  object
 4   数量（斤）         18770 non-null  object
 5   均规格（斤/尾）      11893 non-null  float64
 6   数量（尾）         18770 non-null  object
 7   结算年月          18770 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.1+ MB

In [8]:
df.describe()

               投喂数量        投喂重量kg           换算率
count  57166.000000  57166.000000  57166.000000
mean     129.328814    129.592957      1.203198
std      187.574818    187.450519      2.198986
min        0.000000      0.000000      1.000000
25%        0.000000      0.000000      1.000000
50%       65.000000     67.000000      1.000000
75%      200.000000    200.000000      1.000000
max     2007.000000   2007.000000     25.000000

In [9]:
df.columns

Index(['投喂记录统计表.xls', '投喂单号', '投喂时间', '审核状态', '单据属性', '区域名称', '池塘编号', '品种名称',
       '投喂方式', '饲料仓库', '投喂数量', '计量单位', '投喂重量kg', '换算率', '负责人'],
      dtype='object')

In [18]:
df1 = df[['投喂时间','池塘编号','投喂重量kg']].sort_values('池塘编号', ascending=False)

In [19]:
df1.head()

            投喂时间  池塘编号  投喂重量kg
11724  2023/3/23  2430   150.0
10940  2023/3/27  2430   200.0
14509  2023/3/10  2429   150.0
13468  2023/3/15  2429   100.0
14708   2023/3/9  2429   100.0