https://www.pypandas.cn/

In [1]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/96.5 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/96.5 kB ? eta -:--:--
     ---------------- --------------------- 41.0/96.5 kB 245.8 kB/s eta 0:00:01
     -------------------------------------- 96.5/96.5 kB 461.4 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [13]:
import pandas as pd
pd.__version__

'2.2.0'

In [2]:
import pandas as pd
df = pd.read_excel("feeding.xlsx")
df.head(10)

,投喂记录统计表.xls,投喂单号,投喂时间,审核状态,单据属性,区域名称,池塘编号,品种名称,投喂方式,饲料仓库,投喂数量,计量单位,投喂重量kg,换算率,负责人
0,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1127,散装料,自动投料机,1127,201.0,千克,201.0,1.0,刘浩锋
1,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1128,散装料,自动投料机,1128,211.0,千克,211.0,1.0,刘浩锋
2,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1129,散装料,自动投料机,1129,102.0,千克,102.0,1.0,刘浩锋
3,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1130,散装料,自动投料机,1130,218.0,千克,218.0,1.0,刘浩锋
4,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1201,散装料,自动投料机,1201,153.0,千克,153.0,1.0,刘浩锋
5,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1202,散装料,自动投料机,1202,170.0,千克,170.0,1.0,刘浩锋
6,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1203,散装料,自动投料机,1203,241.0,千克,241.0,1.0,刘浩锋
7,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1204,散装料,自动投料机,1204,210.0,千克,210.0,1.0,刘浩锋
8,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1205,散装料,自动投料机,1205,371.0,千克,371.0,1.0,刘浩锋
9,202301月份投喂记录统计表.xls,成鱼生产一部2023-01-3104,2023-01-31 00:00:00,已审核,人工录入,成鱼生产一部,1206,散装料,自动投料机,1206,401.0,千克,401.0,1.0,刘浩锋

In [4]:
df.describe()

               投喂数量        投喂重量kg           换算率
count  57166.000000  57166.000000  57166.000000
mean     129.328814    129.592957      1.203198
std      187.574818    187.450519      2.198986
min        0.000000      0.000000      1.000000
25%        0.000000      0.000000      1.000000
50%       65.000000     67.000000      1.000000
75%      200.000000    200.000000      1.000000
max     2007.000000   2007.000000     25.000000

In [6]:
df.sort_index(axis=1, ascending=False).head()

,饲料仓库,负责人,计量单位,池塘编号,换算率,投喂重量kg,投喂记录统计表.xls,投喂时间,投喂方式,投喂数量,投喂单号,审核状态,品种名称,单据属性,区域名称
0,1127,刘浩锋,千克,1127,1.0,201.0,202301月份投喂记录统计表.xls,2023-01-31 00:00:00,自动投料机,201.0,成鱼生产一部2023-01-3104,已审核,散装料,人工录入,成鱼生产一部
1,1128,刘浩锋,千克,1128,1.0,211.0,202301月份投喂记录统计表.xls,2023-01-31 00:00:00,自动投料机,211.0,成鱼生产一部2023-01-3104,已审核,散装料,人工录入,成鱼生产一部
2,1129,刘浩锋,千克,1129,1.0,102.0,202301月份投喂记录统计表.xls,2023-01-31 00:00:00,自动投料机,102.0,成鱼生产一部2023-01-3104,已审核,散装料,人工录入,成鱼生产一部
3,1130,刘浩锋,千克,1130,1.0,218.0,202301月份投喂记录统计表.xls,2023-01-31 00:00:00,自动投料机,218.0,成鱼生产一部2023-01-3104,已审核,散装料,人工录入,成鱼生产一部
4,1201,刘浩锋,千克,1201,1.0,153.0,202301月份投喂记录统计表.xls,2023-01-31 00:00:00,自动投料机,153.0,成鱼生产一部2023-01-3104,已审核,散装料,人工录入,成鱼生产一部

In [9]:
df.dtypes

投喂记录统计表.xls     object
投喂单号            object
投喂时间            object
审核状态            object
单据属性            object
区域名称            object
池塘编号            object
品种名称            object
投喂方式            object
饲料仓库            object
投喂数量           float64
计量单位            object
投喂重量kg         float64
换算率            float64
负责人             object
dtype: object

In [10]:
df.index

RangeIndex(start=0, stop=57166, step=1)

In [3]:
df['换算率'].unique()

array([ 1., 25.])

In [4]:
df2 = pd.read_excel("Pondstock.xlsx")
df2.head()

         月末存塘量统计表.xls    区域名称   池塘编号  ...  均规格（斤/尾）  数量（尾）                 结算年月
0  202301月末存塘量统计表.xls   大鲩生产部     A1  ...  0.730000  13436  2023-01-31 23:59:59
1  202301月末存塘量统计表.xls  成鱼生产二部  2224A  ...  0.140000    500  2023-01-31 23:59:59
2  202301月末存塘量统计表.xls  成鱼生产二部  2224A  ...  3.234935  10761  2023-01-31 23:59:59
3  202301月末存塘量统计表.xls  成鱼生产二部  2224A  ...  3.000000    825  2023-01-31 23:59:59
4  202301月末存塘量统计表.xls  成鱼生产二部  2224A  ...  0.800000   5668  2023-01-31 23:59:59

[5 rows x 8 columns]

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18770 entries, 0 to 18769
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   月末存塘量统计表.xls  18770 non-null  object
 1   区域名称          18770 non-null  object
 2   池塘编号          18770 non-null  object
 3   品种名称          18770 non-null  object
 4   数量（斤）         18770 non-null  object
 5   均规格（斤/尾）      11893 non-null  float64
 6   数量（尾）         18770 non-null  object
 7   结算年月          18770 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.1+ MB

In [8]:
df.describe()

               投喂数量        投喂重量kg           换算率
count  57166.000000  57166.000000  57166.000000
mean     129.328814    129.592957      1.203198
std      187.574818    187.450519      2.198986
min        0.000000      0.000000      1.000000
25%        0.000000      0.000000      1.000000
50%       65.000000     67.000000      1.000000
75%      200.000000    200.000000      1.000000
max     2007.000000   2007.000000     25.000000

In [9]:
df.columns

Index(['投喂记录统计表.xls', '投喂单号', '投喂时间', '审核状态', '单据属性', '区域名称', '池塘编号', '品种名称',
       '投喂方式', '饲料仓库', '投喂数量', '计量单位', '投喂重量kg', '换算率', '负责人'],
      dtype='object')

In [18]:
df1 = df[['投喂时间','池塘编号','投喂重量kg']].sort_values('池塘编号', ascending=False)

In [19]:
df1.head()

            投喂时间  池塘编号  投喂重量kg
11724  2023/3/23  2430   150.0
10940  2023/3/27  2430   200.0
14509  2023/3/10  2429   150.0
13468  2023/3/15  2429   100.0
14708   2023/3/9  2429   100.0