In [1]:
import pandas as pd

df = pd.read_excel('carpFCR.xlsx')
df

    id  weight_min  weight_max  t_min  t_max  coe_min  coe_max   fcr
0    1          50         200     14     19    0.015    0.025  1.64
1    2          50         200     19     23    0.025    0.035  1.64
2    3          50         200     23     28    0.035    0.045  1.64
3    4          50         200     28     30    0.045    0.050  1.64
4    5          50         200     30     40    0.020    0.040  1.64
5    6         200         500     14     19    0.010    0.015  1.87
6    7         200         500     19     23    0.015    0.020  1.87
7    8         200         500     23     28    0.020    0.030  1.87
8    9         200         500     28     30    0.030    0.035  1.87
9   10         200         500     30     40    0.015    0.030  1.87
10  11         500        1000     14     19    0.006    0.012  2.00
11  12         500        1000     19     23    0.012    0.016  2.00
12  13         500        1000     23     28    0.016    0.020  2.00
13  14         500        1000     28     30    0.020    0.025  2.00
14  15         500        1000     30     40    0.012    0.025  2.00
15  16        1000        1500     14     19    0.005    0.010  2.20
16  17        1000        1500     19     23    0.010    0.012  2.20
17  18        1000        1500     23     28    0.012    0.015  2.20
18  19        1000        1500     28     30    0.015    0.025  2.20
19  20        1000        1500     30     40    0.010    0.020  2.20

In [ ]:
feeding_rate =