In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10]

0 in my_list

False

## Dictionaries

In [2]:
my_dict = {"name": "Joe",
           "age": 10, 
           "city": "Paris"}

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [3]:
my_dict["name"]

'Joe'

In [4]:
my_dict["new_key"] = "new_value"

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris', 'new_key': 'new_value'}

In [5]:
del my_dict["new_key"]

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [6]:
len(my_dict)

3

In [7]:
"name" in my_dict

True

In [8]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [9]:
my_dict.values()

dict_values(['Joe', 10, 'Paris'])

In [10]:
my_dict.items()

dict_items([('name', 'Joe'), ('age', 10), ('city', 'Paris')])

In [11]:
my_table_dict = {"name": ["Joe", "Bob", "Harry"],
                 "age": [10,15,20] , 
                 "city": ["Paris", "New York", "Tokyo"]}

## Sets

In [12]:
my_set = {1,2,3,4,5,6,7}

type(my_set)

set

In [13]:
my_set.add(8)

my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
my_set.remove(7)

my_set

{1, 2, 3, 4, 5, 6, 8}

In [15]:
6 in my_set

True

In [16]:
set1 = {1,3,5,6}
set2 = {1,2,3,4}

set1.union(set2)          # Get the union of two sets

{1, 2, 3, 4, 5, 6}

In [17]:
set1.intersection(set2)   # Get the intersection of two sets

{1, 3}

In [18]:
set1.difference(set2)     # Get the difference between two sets

{5, 6}

In [19]:
set1.issubset(set2)       # Check whether set1 is a subset of set2

False

In [20]:
my_list = [1,2,2,2,3,3,4,5,5,5,6]

set(my_list)

{1, 2, 3, 4, 5, 6}