In [1]:
my_tuple = (1,3,5)

print(my_tuple)

(1, 3, 5)

In [2]:
my_list = [2,3,1,4]

another_tuple = tuple(my_list)

another_tuple

(2, 3, 1, 4)

In [3]:
another_tuple[2]

1

In [4]:
another_tuple[2:4]

(1, 4)

In [5]:
# You can use common sequence functions on tuples:

print( len(another_tuple))   
print( min(another_tuple))  
print( max(another_tuple))  
print( sum(another_tuple))

4
1
4
10

In [6]:
another_tuple.append(1)    # You can't append to a tuple

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
del another_tuple[1]      # You can't delete from a tuple

TypeError: 'tuple' object doesn't support item deletion

In [8]:
sorted(another_tuple)

[1, 2, 3, 4]

In [9]:
list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = tuple1[:]                       # Make a shallow copy

list1.append("But lists are mutable")

print( tuple2 )                          # Print the copy

('Tuples are Immutable', [1, 2, 3, 'But lists are mutable'])

In [10]:
import copy

list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = copy.deepcopy(tuple1)           # Make a deep copy

list1.append("But lists are mutable")

print( tuple2 )                          # Print the copy

('Tuples are Immutable', [1, 2, 3])

## Strings

In [11]:
my_string = "Hello world"

my_string[3]    # Get the character at index 3

'l'

In [12]:
my_string[3:]   # Slice from the third index to the end

'lo world'

In [13]:
my_string[::-1]  # Reverse the string

'dlrow olleH'

In [14]:
len(my_string)

11

In [15]:
my_string.count("l")  # Count the l's in the string

3

In [16]:
# str.lower()     

my_string.lower()   # Make all characters lowercase

'hello world'

In [17]:
# str.upper()     

my_string.upper()   # Make all characters uppercase

'HELLO WORLD'

In [18]:
# str.title()

my_string.title()   # Make the first letter of each word uppercase

'Hello World'

In [19]:
my_string.find("W")

-1

In [20]:
my_string.find("w")

6

In [21]:
my_string.replace("world",    # Substring to replace
                  "friend")   # New substring

'Hello friend'

In [22]:
my_string.split()     # str.split() splits on spaces by default

['Hello', 'world']

In [23]:
my_string.split("l")  # Supply a substring to split on other values

['He', '', 'o wor', 'd']

In [24]:
multiline_string = """I am
a multiline 
string!
"""

multiline_string.splitlines()

['I am', 'a multiline ', 'string!']

In [25]:
# str.strip() removes whitespace by default

"    strip white space!   ".strip()

'strip white space!'

In [26]:
"xXxxBuyNOWxxXx".strip("xX")

'BuyNOW'

In [27]:
"Hello " + "World"

'Hello World'

In [28]:
" ".join(["Hello", "World!", "Join", "Me!"])

'Hello World! Join Me!'

In [29]:
name = "Joe"
age = 10
city = "Paris"

"My name is " + name + " I am " + str(age) + " and I live in " + "Paris"

'My name is Joe I am 10 and I live in Paris'

In [30]:
template_string = "My name is {} I am {} and I live in {}"

template_string.format(name, age, city)

'My name is Joe I am 10 and I live in Paris'

In [31]:
# Remaking the example above using an f-string

f"My name is {name} I am {age} and I live in {city}"

'My name is Joe I am 10 and I live in Paris'