In [1]:
import pandas as pd

df = pd.read_excel("data/feed.xlsx")

df.head()

,投喂单号,投喂时间,审核状态,单据属性,区域名称,池塘编号,品种名称,投喂方式,饲料仓库,投喂数量,计量单位,投喂重量kg,换算率,负责人
0,成鱼生产二部2021-04-3019,2021-04-30,已审核,人工录入,成鱼生产二部,2372,散装料,自动投料机,2324,205,千克,205,1,黄子祥
1,成鱼生产二部2021-04-2920,2021-04-29,已审核,人工录入,成鱼生产二部,2372,散装料,自动投料机,2324,204,千克,204,1,黄子祥
2,成鱼生产二部2021-04-2854,2021-04-28,已审核,人工录入,成鱼生产二部,2372,散装料,自动投料机,2324,204,千克,204,1,黄子祥
3,成鱼生产二部2021-04-2744,2021-04-27,已审核,人工录入,成鱼生产二部,2372,散装料,自动投料机,2324,194,千克,194,1,黄子祥
4,成鱼生产二部2021-04-2624,2021-04-26,已审核,人工录入,成鱼生产二部,2372,散装料,自动投料机,2324,192,千克,192,1,黄子祥

In [2]:
ps_df = pd.read_excel("data/pondstorage.xlsx")

In [4]:
ps_df.head()

     区域名称   池塘编号   品种名称     数量（斤）  均规格（斤/尾）  数量（尾）                 结算年月
0   大鲩生产部     A1     鲫鱼   9808.28  0.730000  13436  2023-01-31 23:59:59
1  成鱼生产二部  2224A    黄颡鱼     70.00  0.140000    500  2023-01-31 23:59:59
2  成鱼生产二部  2224A  草鱼商品鱼  34811.14  3.234935  10761  2023-01-31 23:59:59
3  成鱼生产二部  2224A    大头鱼   2475.00  3.000000    825  2023-01-31 23:59:59
4  成鱼生产二部  2224A     鲫鱼   4534.40  0.800000   5668  2023-01-31 23:59:59

In [5]:
df['池塘编号']

0    2372
1    2372
2    2372
3    2372
4    2372
Name: 池塘编号, dtype: int64

In [7]:
ps_df["池塘编号"]

0           A1
1        2224A
2        2224A
3        2224A
4        2224A
         ...
51842     1108
51843     1108
51844     1106
51845     1106
51846     1106
Name: 池塘编号, Length: 51847, dtype: object

In [8]:
ps_df[ps_df["池塘编号"].isin(df['池塘编号'])]

Empty DataFrame
Columns: [区域名称, 池塘编号, 品种名称, 数量（斤）, 均规格（斤/尾）, 数量（尾）, 结算年月]
Index: []