In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.read_csv("dates_lesson_16.csv")

dates # Check the dates

  month_day_year day_month_year                 date_time year_month_day
0       04/22/96      22-Apr-96  Tue Aug 11 09:50:35 1996      2007-6-22
1       04/23/96      23-Apr-96  Tue May 12 19:50:35 2016       2017-1-9
2       05/14/96      14-May-96  Mon Oct 14 09:50:35 2017      1998-4-12
3       05/15/96      15-May-96  Tue Jan 11 09:50:35 2018      2027-7-22
4       05/16/01      16-May-01  Fri Mar 11 07:30:36 2019     1945-11-15
5       05/17/02      17-May-02  Tue Aug 11 09:50:35 2020      1942-6-22
6       05/18/03      18-May-03  Wed Dec 21 09:50:35 2021     1887-06-13
7       05/19/04      19-May-04  Tue Jan 11 09:50:35 2022      1912-1-25
8       05/20/05      20-May-05  Sun Jul 10 19:40:25 2023      2007-6-22

In [3]:
for col in dates:
    print (type(dates[col][1]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
dates = pd.read_csv("dates_lesson_16.csv", 
                    parse_dates=[0,1,2,3]) # Convert cols to Timestamp

C:\Users\sxf\AppData\Local\Temp\ipykernel_50700\179817738.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dates = pd.read_csv("dates_lesson_16.csv",
C:\Users\sxf\AppData\Local\Temp\ipykernel_50700\179817738.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dates = pd.read_csv("dates_lesson_16.csv",

In [5]:
for col in dates:
    print (type(dates[col][1]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [6]:
odd_date = "12:30:15 2015-29-11"
pd.to_datetime(odd_date,
               format= "%H:%M:%S %Y-%d-%m")

Timestamp('2015-11-29 12:30:15')

In [9]:
column_1 = dates.iloc[:,0]

pd.DataFrame({"year": column_1.dt.year,
              "month": column_1.dt.month,
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
              "dayofyear": column_1.dt.dayofyear,
              # "week": column_1.dt.week,
              # "weekofyear": column_1.dt.weekofyear,
              "dayofweek": column_1.dt.dayofweek,
              "weekday": column_1.dt.weekday,
              "quarter": column_1.dt.quarter,
             })

   year  month  day  hour  dayofyear  dayofweek  weekday  quarter
0  1996      4   22     0        113          0        0        2
1  1996      4   23     0        114          1        1        2
2  1996      5   14     0        135          1        1        2
3  1996      5   15     0        136          2        2        2
4  2001      5   16     0        136          2        2        2
5  2002      5   17     0        137          4        4        2
6  2003      5   18     0        138          6        6        2
7  2004      5   19     0        140          2        2        2
8  2005      5   20     0        140          4        4        2

In [10]:
print(dates.iloc[1,0])
print(dates.iloc[3,0])
print(dates.iloc[3,0]-dates.iloc[1,0])

1996-04-23 00:00:00
1996-05-15 00:00:00
22 days 00:00:00